select{
  width: 200px;
  height: 50px;
  font-family:'Inconsolata', monospace;
}
input{
  width: 110px;
  height: 50px;
  font-family:'Inconsolata', monospace;
}
legend{
  font-family: 'Inconsolata', monospace;
}